/* sets the font of important site elements to Calibri */
* {
  font-family: Calibri !important;
}

ul {
  padding: 2%;
}
li {
  border: thin black solid;
  border-radius: 5px;
  padding: 2%;
  margin-top: 2%;
}

/* containerdiv is a generic all purpose div for containing things. margin-bottom is set like that so that the site maintains a consistent compact style */
.containerdiv {
  display: flex;
  margin-bottom: 0;
}

/* generic div for elements to go next to each other inside of a containerdiv with a margin between them and consistent alignment */
.innerdiv {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 5%
}

/* generic button style - margins are so small for aesthetics */
.button {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 100%; 
  border-radius: 5px;
  border: 0px;
  background: lightgray;
  margin-left: 0.1%;
  margin-bottom: 0;
}
/* for the top of the website, to contain the three navigational buttons. */
.buttoncontainer {
  display: flex;
  width: 15%;
  height: 100%;
}

/* turns the input image into a circle. this circle is dynamically sized and positioned based on the screen size to make it look reasonably good on all devices without manual adjustment. */
.profilepic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  margin-top: 1%;
  margin-left: 2%;
  position: relative;
}
.profilepic::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.profilepic img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


/* formatting for the calendar */
table {
  table-layout: fixed;
  border: transparent;
  width: 100%;
  margin-top: 0%;
  border-collapse: separate;
  border-spacing: 10px 0;
}
th {
  border-bottom: thin solid black;
  vertical-align: top;
  margin-bottom: 1%;
  position: relative;
}
td {
  vertical-align: top;
  background-color: lightgreen;
  border-radius: 3%;
  border-bottom: transparent;
}
.time {
  border-bottom: thin solid lightgrey;
  vertical-align: top;
  background-color: transparent;
}
/* greyed out sections of the calendar symbolising unavailability */
.calendarunavailable {
  background-color:lightcoral;
  border-radius: 3%;
  border-bottom: transparent;
}

/* makes the hr element have no gap above it, as I wanted the buttons to touch it. by default it has a gap. best practice in this scenario would be altering it manually each time I need to do that but this is the only scenario in which I use hr on this site */
hr {
  margin-top: 0;
}

/* grey, low opacity text for use in the email to create the effect that shows both name and email address */
.grey-text {
  color: grey;
  opacity: 0.25;
}

/* vl means 'vertical line' - used to draw a vertical line between elements */
.vl {
  border-left: thin solid black;
  margin-left: 15%;
  height: flex;
  display: block
}

/* fade in animation for when the site is loaded */
body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* keyframes of the fade in animatiom - all elements start 50 pixels below intended position and invisible, then become visible and move up linearly. */
@keyframes fadeInAnimation {
  0% {
      transform: TranslateY(50px);
      opacity: 0;
  }

  100% {
      transform: TranslateY(0px);
      opacity: 1;
  }
}